@import 'bootstrap/scss/bootstrap';
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

// CUSTOM PROPERTIES
:root {  
    --main-color: #daa520;
    --sub-text-color: #ffffff;
    --card-bg-color: #151515;
    --body-bg-color1: #1a1a1a;
    --body-bg-color2: #0f0f0f;
}
// #c9aa4e

// Asterisco required nei form
.label-required::after {
    content: " *";
    color: red;
}

// Bottoni carico/scarico magazzino
.w-btn {
    width: 120px; 
}

.card {
    border: 2px solid var(--main-color) !important;
    color: var(--sub-text-color);
    background-color: var(--card-bg-color);
}

.list-group-item {
    color: var(--sub-text-color);
    background-color: transparent;
    border-color: var(--main-color) !important;
}

.card-footer {
    border-top: 2px solid var(--main-color); 
}

.card-header {
    border-bottom: 2px solid var(--main-color);
}

// Layout 
body {
    background: linear-gradient(to bottom, var(--body-bg-color1), var(--body-bg-color2));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--sub-text-color);
}

h1 {
    color: var(--sub-text-color);
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    word-spacing: 0.20em;
    color: var(--main-color);
}

h2 {
    color: var(--sub-text-color);
}

h5 {
    color: var(--main-color);
}

.text-muted {
    color: var(--main-color) !important;
}

// Navbar
.nav-custom {
    background-color: var(--body-bg-color2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 10px 12px #0000005f !important;
}

main {
    margin-top: 8rem;
}

.nav-link {
  color: var(--sub-text-color);
  transition: color 0.3s ease-in-out;
}

.nav-link.active {
    color: var(--main-color) !important;
}

.navbar .nav-link:visited {
    color: var(--sub-text-color);
}

.nav-link:hover {
  color: var(--main-color);
}

// Navbar destra
/* Hamburger */
.navbar-toggler {
    border-color: var(--main-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='goldenrod' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Menu' a tendina */
.dropdown-menu {
    background-color: var(--body-bg-color1);
    border: 1px solid var(--main-color);
}

.dropdown-menu .dropdown-item {
    color: var(--sub-text-color);
    transition: background-color 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #222222;
    color: var(--main-color);
}

.navbar .dropdown-toggle.show {
    color: var(--main-color);
}

// Bottoni
.btn-new {
    background-color: var(--main-color);
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.ingredient-btn,
.forward-btn,
.back-btn {
    border: 1px solid var(--main-color);
    color: var(--sub-text-color);
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.ingredient-btn:hover,
.forward-btn:hover,
.back-btn:hover {
    background-color: #e5bb53;
    color: #000000;
    border: 1px solid var(--main-color);
}

.modify-btn {
    color: #2ECC71;
    border-color: var(--main-color);
    transition: color 0.6s ease-in-out;
}

.delete-btn:hover,
.modify-btn:hover {
    border-color: var(--main-color);
}

.add-btn {
    background-color: #0bb351;
    color: var(--sub-text-color);
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.add-btn:hover {
    background-color: #08a84b;
    color: #000000;
}

.delete-btn {
    color: #E74C3C;
    border-color: var(--main-color);
    transition: color 0.6s ease-in-out;
}

.confirm-delete-btn {
    background-color: #E74C3C;
    color: var(--sub-text-color);
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.confirm-delete-btn:hover {
    background-color: #eb240e;
    color: #000000;
}

.form-select:focus,
.form-control:focus,
.form-select,
.form-control {
    background-color: #151515;
    color: var(--sub-text-color);
    border: 1px solid var(--main-color);
}

.form-box,
.search-box {
    border: 2px solid var(--main-color);
}

// Input di ricerca
#category_id,
#search {
    background-color: #151515;
    color: var(--sub-text-color);
    border: 1px solid var(--main-color);
}

.form-control::placeholder,
#search::placeholder {
    color: #5e5d5d86;
}

.search-btn {
    background-color: #20854a;
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.reset-btn {
    background-color: #434343;
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.btn-new:hover {
    background-color: #dbb146;
    color: var(--sub-text-color);
}

.search-btn:hover {
    background-color: #54d188;
}
.reset-btn:hover {
    background-color: #8e8d8d;

}

// Dashboard
.alert-dashboard {
    border: 2px solid var(--main-color);
}

// Sellables
.sellable-detail-btn {
    background-color: var(--main-color);
    transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}

.sellable-detail-btn:hover {
    background-color: #dbb146;
    color: var(--sub-text-color);
}

// Paginazione
.page-item.active .page-link {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--sub-text-color);
}

.page-link {
    color: var(--main-color);
    background-color: #151515;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #dabf5d; 
    color: #000000;
}

.pagination-info {
    color: var(--main-color);
}

// Accordion
.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
}

.accordion-button,
.accordion-item,
.accordion-button::after {
    border-radius: 0 !important;
}

/* Bottone chiuso */
.accordion-button.collapsed {
    background-color: #151515;
    color: var(--main-color);
}

/* Bottone aperto */
.accordion-button:not(.collapsed) {
    background-color: var(--main-color);
}

.accordion-body {
    background-color: #222222;
}

// MODALS
/* Contenitore del modale */
.modal-content {
    background-color: #151515; 
    border: 2px solid var(--main-color);
    color: var(--sub-text-color); 
}

/* Header con titolo */
.modal-header {
    border-bottom: 1px solid var(--main-color);
    background-color: #151515;
    color: var(--main-color);
}

/* Titolo del modale */
.modal-title {
    color: var(--main-color);
}

/* Testo specifico da rendere bianco */
.modal-body p {
    color: var(--sub-text-color);
}

/* Footer con pulsanti */
.modal-footer {
    background-color: #151515;
    border-top: 1px solid var(--main-color);
}